body{
    background-color: #077389;
    padding: 0px;
    margin: 0px;
}

.navbar{
    margin: 20px;
    display: grid;
    gap: 190px;
    align-items: center;
    display: flex;
    height: 60px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #373375;
    background: #00355A;
}

.details{
    display: flex;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
}
.logo{
    display: flex;
    align-items: center;
    width: 35.056px;
    height: 57.963px;
    flex-shrink: 0;
}
.sitename{
    height: 45px;
    width: 131px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F2F2F2;
    font-family: "Space Mono";
    font-size: 30.332px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.navlist{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 503.349px;
    align-items: center;
    gap: 47px;
}

.nav-list-item{
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.navaction{
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

.navac{
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}


.login{
    display: flex;
    padding: 8px 19px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    border: 1px solid #6048F6;
}

.signup{
    display: flex;
    padding: 8px 19px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    background: linear-gradient(98deg, #6048F6 0%, #D11DFA 53.96%, #E72F87 100%);
}

.mainbanner{
    position: relative;
    padding: 0%;
    margin: 0%
}

.mainbanner img{
    padding-top: 30px;    
    width: 100vw;
    height: auto;
    object-fit: cover; /* Ensures the image covers the area without stretching */
}

.bannercont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F2F2F2;
    text-align: center;
    font-family: Poppins;
    font-size: 62.157px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.23%; /* 86.542px */
    letter-spacing: 1.243px;
}

.search-form{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -20%);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.search-input{
    border: 2px solid black;
    justify-content: space-between;
    padding: 11px ;
    align-items: center;
    border-radius: 51.543px;
    background: #38C4AA;
    height: 36px;
    width: 700px;

}
.search-input::placeholder{
    color: #00365A;
    font-family: Poppins;
    font-size: 24.328px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.search-button{
    display: flex;
    width: 57.763px;
    height: 57.763px;
    padding: 13.33px ;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    border-radius: 100px;
    background: #FFF;
}

.search-button img.icon {
    width: 40px; /* Adjust width */
    height: 40px; /* Adjust height */
    position: relative;
    top: -16px;
}

.department{
    padding: 50px;
}

.departtext1{
    align-self: stretch;
    color: #F2F2F2;
    text-align: center;
    font-family: Poppins;
    font-size: 45.672px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.23%; /* 63.59px */
    letter-spacing: 0.913px;
}

.departtext2{
    align-self: stretch;
    color: #F2F2F2;
    text-align: center;
    font-family: Poppins;
    font-size: 20.247px;
    font-style: normal;
    font-weight: 500;
    line-height: 139.23%; /* 28.189px */
    letter-spacing: 0.405px;
}

.row1{
    padding-top: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.deptname{
    color: #00365A;
    text-align: center;
    font-family: Poppins;
    font-size: 26.323px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.dept-button{
    display: inline-flex;
    padding: 6.3px 7.876px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 3.938px;
    background: #77D6B5;
}

.row1 button,
.row2 button{
    background: #77D6B5;
    color: #00365A;
    text-align: center;
    font-family: Poppins;
    font-size: 12.053px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border: none;
}

.deptpara{
    padding-left: 10px;
    padding-right: 10px;
    color: #05617A;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12.294px; /* 158.001% */
}

.physiatry{
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 294px;
    border-radius: 20.965px;
    background: #FFF;
}

.dietplan{
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 294px;
    border-radius: 20.965px;
    background: #FFF;
}

.checkup{
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 294px;
    border-radius: 20.965px;
    background: #FFF;
}

.row2{
    padding-top: 65px;
    gap: 15px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.radiology{
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 294px;
    border-radius: 20.965px;
    background: #FFF;
}


.dermatology{
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 294px;
    border-radius: 20.965px;
    background: #FFF;
}


.medical-professional{
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 294px;
    border-radius: 20.965px;
    background: #FFF;
}

.doctext1{
    color: #F2F2F2;
    text-align: center;
    font-family: Poppins;
    font-size: 45.672px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.23%; /* 63.59px */
    letter-spacing: 0.913px;
}

.doctext2{
    align-self: stretch;
    color: #F2F2F2;
    text-align: center;
    font-family: Poppins;
    font-size: 20.247px;
    font-style: normal;
    font-weight: 500;
    line-height: 139.23%; /* 28.189px */
    letter-spacing: 0.405px;
}

.docsimg{
    padding-top: 65px;
    display: flex;
    justify-content: space-around;
}

.docsimg1{
    width: 395px;
    height: 594px;
    flex-shrink: 0;
    border-radius: 15.173px;
    background: #FFF;
}

.docsimg2{
    width: 395px;
    height: 594px;
    flex-shrink: 0;
    border-radius: 15.173px;
    background: #FFF;
}

.docname{
    margin: 15px 45px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    background: #0B99A7;
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.docdesc{
    margin: auto;
    padding: 15px 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    background: #2AAEBE;
    width: 353px;
    height: 131px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.medtext{
    padding: 80px 10vw;
    color: #F2F2F2;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.23%; /* 63.59px */
    letter-spacing: 0.913px;
}

.meddetails{
    display: flex;
    justify-content: space-evenly;

}

.medicon{
    width: 300px;
    height: 450px;
    padding-top: 40px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

img.medicon{
    width: 345.418px;
    height: 297.303px;
    flex-shrink: 0;
}

.medtext1{
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.medtext2{
    color: #FFF;
    text-align: center;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


iframe{
    border-radius: 20px;
    border: 2px solid black;
}

footer{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 20px;
    background: #084B78;
    margin-bottom: 20px;
    margin: 20px;
}

.footer-text{
    display: flex;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
